<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form action="login" method="POST">
    {% csrf_token %}
    <div class="menu_social">

        <ul class="d-flex flex-row align-items-start justify-content-start">
            <input type="text" name="username" placeholder="username"><br>
            <input type="password" name = "password" placeholder="password"><br>
            <input type="Submit">
        </ul>
</form>
<div>
    {% for message in messages%}
    <h3> {{message }}</h3>
    {% endfor %}
</div>
</body>
</html>